@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Add Flavor Profile</h2>
<hr />

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  <h3>@Html.Label("Select Flavor")</h3>
    @Html.DropDownList("FlavorId")
  <input type="submit" value="Add Flavor" class="btn btn-dark" />
}
<hr />
<div class="links">@Html.ActionLink("Cancel", "Details", new { id = Model.TreatId })</div>