@{
  Layout = "_Layout";
}
<h2>Delete Treat</h2>
<hr />
<p>Are you sure you want to delete @Model.Name?</p>

@using(Html.BeginForm())
{
  <input type="submit" value="Delete Treat" class="btn btn-dark"/>
}
<hr />
<div class="links">@Html.ActionLink("Cancel", "Details", new { id = Model.TreatId })</div>